/* Animations for the application */

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-slide {
  animation: slide 750ms ease-in-out forwards !important;
}

.animate-appear {
  animation: appear 1s ease-in-out forwards !important;
}
